@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Public+Sans&display=swap");

$font-stack: "Public Sans", sans-serif;
$heading-font: "Barlow", sans-serif;

$primary-color: #212b36;
$secondary-color: rgb(250, 84, 28);
$delete-btn-color: rgb(255, 86, 48);

$table-padding: 7px 15px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  color: $primary-color;
  font-size: 1rem;
}
