.MuiCard-root {
  position: relative;
  .MuiCardActionArea-root {
    position: relative;
  }
  .MuiCardContent-root {
    position: relative;
    background: transparent;
  }
  .MuiCardMedia-root {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

.ancillary-service {
  content: url("../images/ancillary_bg.jpg");
  opacity: 0.75;
}

.special-meal {
  content: url("../images/special_meals_bg.jpg");
  opacity: 0.75;
}
