@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

$table-padding: 7px 15px;

* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif !important;
  box-sizing: border-box;
}

table.MuiTable-root {
  tr {
    td,
    th {
      padding: $table-padding;
    }
  }
}
